* {
    margin: 0;
    padding: 0;
}
#form-content {
    width: 50%;
    margin: 15px auto 65px;
    padding: 20px;
    /*background-color: rgb(146, 176, 184);
    background-color: rgba(146, 176, 184, 0.59);*/
    background-color: #CEF5FF;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 7px 7px 10px #d5d5d5;
}
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
#contact-form-container {
    border-radius: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact-form-shape {
    width: 75%;
}
#contact-reason {
    width: 100%;
}
#contact-form p {
    margin: 25px 0;
}
.input-area {

}
table {
    width: 100%;
}
tr {
    width: 100%;
    margin: 10px 0;
    height: 35px;
}
th {
    text-align: start;
    width: 30%;
}
.input-area p{
    width: 100%;
}
.input-title {
    text-align: left;
    font-weight: 600;
    margin-right: 10px;
}
input {
    height: 100%;
    padding: 3px;
    width: 100%;
    float: right;
    border: 1px solid #808080;
    border-radius: 2px;
}
input:hover {
    background-color: #FFFFCE;
    box-shadow: 1px 1px 5px #c8c8c8;
}
input:focus {
    background-color: #F7FFFC;
}
#checkbox-area {
}
#contact-txt {
    width: 100%;
    margin-top: 10px;
}
#form-content button {    
    display: inline-block;
    margin: auto;
    border: none;
    background-color: #FFF;
    width: 35%;
    padding: 7px;
}
#left-btn {
    float: left;
}
#right-btn {
    float: right;
}
