body {
    background-color: #358EE8;
    box-sizing: border-box;
}

.content {
    background-color: #fefefe;
    padding: 15px;
    max-width: 620px;
    align-content: center;
}

/*following css was borrowed from example on w3schools*/
input{
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #ddd;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


.form {
    margin: 0 auto;
    max-width: 600px;

}
